In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\hyper\OneDrive\Desktop\Internship\Task8\Bussiness_sales.csv')

In [5]:
df.head()

   Order Date   Region         Category  Quantity    Sales  Profit
0  2025-03-20  Central  Office Supplies        11  1600.72  -31.94
1  2023-10-29     West        Furniture         4  1024.19 -339.43
2  2022-09-12  Central        Furniture         7    28.73  186.36
3  2023-12-15  Central  Office Supplies         3   937.92 -327.86
4  2022-04-26  Central  Office Supplies        18   147.13 -135.80

In [10]:
df.shape

(10000, 6)

In [11]:
# There is null values.
df.isnull().sum()

Order Date    0
Region        0
Category      0
Quantity      0
Sales         0
Profit        0
dtype: int64

In [15]:
# There is no Duplicates also.
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  10000 non-null  object
 1   Region      10000 non-null  object
 2   Category    10000 non-null  object
 3   Quantity    10000 non-null  int64
 4   Sales       10000 non-null  float64
 5   Profit      10000 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 468.9+ KB

In [ ]:
# Now the data is very clean and structed.